<div class="container">
    <div class="row">
        <div class="container">
            <!-- Nav tabs -->
            <div class="card">
                <ul class="nav nav-tabs" role="tablist">
                    <li>
                        <a [routerLink]="['/register']">Personal Information</a>
                    </li>
                    <li>
                        <a data-toggle="tab" [routerLink]="['/education']">Educational Information</a>
                    </li>
                    <li>
                        <a [routerLink]="['/immigration']">Immigration</a>
                    </li>
                    <li>
                        <a [routerLink]="['/work']">Work Experience</a>
                    </li>
                </ul>


                <div role="tabpanel" class="tab-pane active" id="EducationalInformation" style="margin-top: 20px">
                    <form id="signupform" class="form-horizontal" role="form" [formGroup]="educationalInfo">
                        <div formArrayName="education">
                            <div *ngFor="let eachEducation of educationArray.controls; let i = index" [formGroupName]="i">
                                <div class="form-group">
                                    <label for="degree" class="col-md-3 control-label">Degree</label>
                                    <div class="col-md-9">
                                        <select name="degree">
                                            <option value="masters" title="masters">Masters</option>
                                            <option value="bachelors" title="bachelors">Bachelor's</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="collegename" class="col-md-3 control-label">College Name</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="University/College Name" id="collegeName" formControlName="collegeName"
                                            required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="major" class="col-md-3 control-label">Major</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Major" id="major" formControlName="major" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="startdate" class="col-md-3 control-label">Start Date</label>
                                    <div class="col-md-6">
                                        <input type="date" id="startdate" class="form-control input-sm" placeholder="Start Date" id="startdate" formControlName="startDate">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="enddate" class="col-md-3 control-label">End Date</label>
                                    <div class="col-md-6">
                                        <input type="date" name="enddate" id="enddate" class="form-control input-sm" placeholder="End Date" id="enddate" formControlName="endDate">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="CummulativeGPA" class="col-md-3 control-label">Cummulative GPA </label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Cummulative GPA" id="CummulativeGPA" formControlName="cummulativeGPA">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-6">
                                        <button id="btn-signup" type="button" class="btn btn-info" (click)="addEducation()">
                                            <i class="icon-hand-right"></i>Add</button>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-6">
                                <button id="btn-signup" type="button" class="btn btn-info" (click)="saveEducationalInfo()">
                                    <i class="icon-hand-right"></i>Save</button>
                                <button id="btn-signup" type="button" class="btn btn-info" style="margin-left: 20px">
                                    <i class="icon-hand-right"></i>Next</button>
                            </div>

                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>