/* footer{
    position: fixed;
    bottom: 0;
    color: #383838;
    background-color:black;
    width: 2000px;
}

footer nav{
    padding: 10px;
}

footer nav ul li{
    display: inline;
}

footer nav ul{
    text-align: center;
} */

footer {
    width: 2000px;
    height: 250px;
    background-color: 	#333738;
}
