footer{
    position: fixed;
    bottom: 0;
    color: #383838;
    background-color: #383838;
    width: 1200px;
  
}

footer nav{
    padding: 10px;
}

footer nav ul li{
    display: inline;
}

footer nav ul{
    text-align: center;
}
