<div class="panel-group">
	<div class="panel panel-primary">
			<div class="panel-heading" style="background-color: #219DE5">
					<b>FollowUps Todays</b>
				</div>
		<ag-grid-angular #agGrid style="height: 500px;"
			class="data-grid ag-theme-balham-dark"
			[enableSorting]="true"
			[enableFilter]="true"
			[rowData]="rowData"
			[columnDefs]="columnDefs"
			[enableColResize]="true" 
			(gridReady)="onGridReady($event)"
			[enterMovesDownAfterEdit]="true" 
			[enterMovesDown]="true">
		</ag-grid-angular>
	</div>
</div>
