

.navbar-custom {

    background-color :#219DE5;
    color: white;
    width: 1350px;

}

li a {
    color: white;

}

li{
    padding-left: 40px;
    padding-right: 40px;
}

.navbar-nav {
    background-color :#219DE5;
    color: white;
    width: 1350px;
    

} 



.panel-custom {

    background-color :#219DE5;
    color: white;
    height: 40px;
    width: 400px;



}



li a {
    color: white;

}

.panel-container{
     width: 1350px; 
    background-color: rgb(241, 250, 250);


} 
.btn-primary {
    background-color :#219DE5;
    color: white;
} 

.homebreak {
    margin-top: 460px;
}
.homefooter{
    margin-top :5px;
}

.nav-tabs{
color :#219DE5;
color: white;
width: 1500px;
height: 40;
}

.middle{
   
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 100px;
    background-image: url("/src/assets/chess\ logo.jpg");

}

.rightcolumn {
    float: right;
    width: 25%;    
    padding-left: 20px;
}


.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}
.after {
    content: "";
    background: url(/src/assets/chess\ logo.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }