

<app-navbar></app-navbar>
		<div style="padding-right: 17px"><h2 class="bg">
			<b> {{profileData.Candidate | uppercase}} MARKETING PLAN </b>
				</h2>
					</div>					
					<app-upcoming-events></app-upcoming-events>				
					<div class="homebreak"></div>
					  <div style="padding-bottom: 10px" class="row">
						<div class="col-md-8">
						 <app-table></app-table>
						    </div>
						      <div class="col-md-4">
							<img src="assets/chess.jpg" width="95%" height="400">
						</div>
					</div>
				<div style="opacity: 0.7;">
			<img class="img-responsive" src="assets/marketing footer image.png" width="1350%" height="400">
		</div>
			<div class="homefooter">
				<app-home-footer></app-home-footer>
					</div>

