

.navbar-custom {

    background-color :#219DE5;
    color: white;
    width: 1350px;

}

li a {
    color: rgb(255, 255, 255);

}

li{
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-nav {
    background-color :#219DE5;
    color: white;
    width: 1350px;
} 

.homebreak {
    margin-top: 460px;
}
.homefooter{
    margin-top :5px;
}
   .bg { 
    margin-top: 0px;
    margin-bottom: 0px;  
    height: 140px;
    text-align: center;
    padding:50px;
    background-size: 500px;
    background-position: right;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right,white 0%,black 100%),url('/assets/chess\ logo.jpg');
    background-blend-mode:screen; 

   }   
   
