<div class="nav">
  <div>
    <ul>
      <li ><a [routerLink]="['/home']">PAYROLL</a></li>
      <li ><a [routerLink]="['/vendorsheet']">MARKETING</a></li>
      <li ><a [routerLink]="['/profile']">MY TASKS</a></li>
      <li ><a [routerLink]="['/about']">REQUEST US</a></li>
      <li ><a [routerLink]="['/contact']">REPORT TIME SHEET</a></li>
      <li ><a [routerLink]="['/contact']">WEEKLY STATUS REPORT</a></li>
    </ul>
      <!-- <ul class="nav navbar-nav navbar-right" style = "color: white; padding-top: 10px; margin-right: 10px;">
        <li>Welcome {{loggedUsedData.Candidate[0].demographic.name.firstName}}</li>
        <li style = "margin-left: 10px">Log out</li>
    </ul> -->
  </div>
</div>

