<h3>Vendor Sheet Management</h3>
<h3>Login</h3>
<div class="center">

    <div class="row">     
      <div class="col-md-4">
        <div>
          <label for="username">UserName</label>
          <input type="text" class="form-control" name="username" />
  
        </div>
  
        <div>
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" />
        </div>
  
        <div id="submit">
          <button class="btn btn-primary">Submit</button>
        </div>  
      </div>
       
  <div class="border">
      <div class="col-md-4">
        <div id="btn-1">
          <button class=" btn btn-danger" (click)="socialSignIn('google')">Sign in with  Google</button>
        </div>      
        <div id="btn-2">
          <button class="btn btn-primary" (click)="socialSignIn('facebook')">Sign in with facebook</button>
        </div>
      </div>  
      </div> 
    </div> 
  </div>