.container-fluid{
    background-color: #219DE5;
}
.panel-custom {

    background-color :#219DE5;
    color: white;
    height: 40px;
    width: 900px;  
     
}

.container1{
    padding-left: 30px;
    
    
}

.panel-tab {
    background-color: #219DE5;
    color: white;
    height: 30px;
    width:60px;
    
}

.panel-word {
    color: rgb(71, 69, 69);
}
.panel-bold {
    color: #219DE5;
    font-size: 150%;
    
}

.panel-padding {
    border: 35px;
    
   
}
.padding-body {
    border: 1px black;
    background-color: lightblue;
    padding-top: 20px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 100px;
    
    
}


.container{
    height: 50%;
    width: 1000px;
    text-align: center;
    font-weight: bold;
    vertical-align: center;
    background-color: rgb(224, 236, 243);
    padding: 10px;
    
    
    
   }

   .name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-stretch: extra-expanded;
    font-size: x-large;
    margin-top: 30px;
}

.panel-style {
     
        border: 1px solid #219DE5;
        margin:  10px ;
        height: 30px;
        width: 250px;
        background-color: white;
    
}
.padding {

    padding-bottom: 60px;
     height: 50px;
     border-color:2px #219DE5;
     padding-top: 20px;
}