
<div class="container1" class="starter-template" class="container-fluid"><div class="panel panel-custom">
		<div class="panel-heading">			
				<b>Upcomming Events</b>
			</div>
			<div class="panel-padding">
				<div  class="container" *ngFor="let event of upcomingevents ">
					<section>
						<form  class="form-group" 
							style="padding-bottom: 90px; height: 20px; background-color: white">
							<label class="panel-tab">{{event.date}}</label> class <label
								class="panel-word">Client Name <label
								class="panel-style">{{event.client}}</label></label> <label
								class="panel-word">Vendor Name <label
								class="panel-style">{{event.vendorName}}</label></label>
							<h6 class="panel-word">
								<b>{{event.description}} </b> <b class="panel-bold">it's a
									{{event.callType}} call <i class="fa fa-comment"
									style="font-size: 20px; color: #219DE5"></i>
								</b>
							</h6>
						</form>
					</section>
				</div>
			</div>
			<div class="panel-footer"></div>
		</div>
	</div>
	
