


<h3>Vendor sheet management</h3>
<h3> SignIn </h3>

<div class="row">
    <div class="col-md-4">
      <label for="username">UserName</label>
      <input type="text" class="form-control" name="username"/>
    </div>
    </div>
<div class="row">
    <div class="col-md-4">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password"/>
    </div>
  </div>
    
  <div class="row">
    <div class="col-md-4">
        <button class=" btn btn-primary" (click)="socialSignIn('google')" >Sign in with Google</button>
        
        <button class="btn btn-primary" (click)="socialSignIn('facebook')">Sign in with facebook</button>

     </div>  
     </div>


<div *ngIf="name">welcome {{name}}</div>




