/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-balham.css";
.ag-row-hover {
    background-color: #a6f3d9 !important;
}
.ag-column-hover {
    background-color: #a6f3d9;
}
.ag-header {
    background-color:rgb(58, 166, 255);
    font-size:14px;
    text-align: center;
    border: solid 2px rgb(58, 166, 255);
    padding-top: 5px; 
}
.ag-body{
   font-size:14px;
   text-align: center;
   border: solid 2px rgb(58, 166, 255);
   }
.ag-root{
    padding-left: 17px;
}
.ag-cell{
    text-align: center;
    padding:5px;
}
.ag-row-even{
    background-color:rgb(195, 216, 247);
}
